<h1 class="page-header">Listing Expense Entries</h1>

<div class="table-responsive">


<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      
      <th>Category</th>
      <th>Notes</th>
      
      <th></th>
      <th></th>
    </tr>
  </thead>
    

<% @expense_entries.each do |expense_entry| %>
  <tr>
    <td><%= expense_entry.date.to_formatted_s(:short) %></td>
    <td><%= number_to_currency expense_entry.amount %></td>
    <td><%= link_to expense_entry.expense.name, expense_entry.expense %></td>
    <td><%= expense_entry.notes %></td>
    <td><%= link_to 'Edit', edit_expense_entry_path(expense_entry) %></td>
    <td><%= link_to 'Delete', expense_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>


<%= link_to 'New Expense entry', new_expense_entry_path, class: "btn btn-default" %>
