<h1 class="page-header">Budget Overview</h1>
<div class="table-responsive">
<table class="table">
  <thead>
  <tr>
    <th>Expense</th>
    <th>Budget</th>
    <th><%= @date.strftime("%B")%></th>
    <th>mo. avg.</th>
    
  </tr></thead>

<% @expenses.each do |expense| %>
  <% if expense.this_month_total > expense.budget_monthly %>
    <tr class="danger">
      <td><%= link_to expense.name, expense %></td>
      <td><%= number_to_currency expense.budget_monthly %></td>
      <td><%= number_to_currency expense.total_month %></td>
      <td>-</td>
    </tr>
  <% else %>
    <tr>
      <td><%= link_to expense.name, expense %></td>
      <td><%= number_to_currency expense.budget_monthly %></td>
      <td><%= number_to_currency expense.this_month_total %></td>
      <td><%= number_to_currency expense.month_average %></td>
    </tr>
  <% end %>

<% end %>

<!-- table totals -->
  <tr>
    <td><b class="pull-right">Total - </b></td>
    <td><b><%= number_to_currency Expense.monthly_budget %></b></td>
    <td><b><%= number_to_currency Expense.total_month_expenses %></b></td>
    <td></td>
  </tr>

</table>
</div>

<%= link_to 'New Expense Category', new_expense_path, class: "btn btn-default" %>
