<h1 class="page-header">Expenses Overview</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Today</th>
    <th><%= @date.strftime("%B")%></th>
    <th>Monthly Budget</th>
  </tr></thead>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= link_to expense.name, expense %></td>
    <td><%= number_to_currency expense.today %></td>
    <td><%= number_to_currency expense.this_month %></td>
    <td><%= number_to_currency expense.budget_monthly %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Expense Category', new_expense_path %><br>
<%= link_to 'New Expense Entry', new_expense_entry_path %>
