<h1 class="page-header"><%= @expense.name %></h1>
<div class="row">
	<% %w(Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec).each do |month| %>
		<div class="col-md-1">
			<h6><%= month %></h6>
			<%= number_to_currency @expense.total_month %>
		</div>
	<% end %>
</div>
	
<hr>

<% @expense.expense_entries.each do |entry| %>
	
<% end %>
<p>
  <b>Budget monthly:</b>
  <%= @expense.budget_monthly %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense), class: "btn btn-default" %> 
