<h1 class="page-header"><%= @expense.name %> 
	<% if @expense.track %>
		<small><span class="glyphicon glyphicon-eye-open"></span></small>
	<% end %>
	<%= link_to "(edit)", edit_expense_path(@expense) %>
</h1>

<p>
  <b>This Month Expenses:</b>
  <%= number_to_currency @expense.this_month_total %>
</p>
<p>
  <b>Budget monthly:</b>
  <%= number_to_currency @expense.budget_monthly %> <%= link_to '(adjust)', edit_expense_path(@expense) %>
</p>
<p>
  <b>Leftover:</b>
  <%= number_to_currency (@expense.budget_monthly - @expense.this_month_total) %>
</p>

<hr>
<%= link_to "Add Expense Entry", new_expense_entry_path, class: "btn btn-default" %>


<div class="table-responsive">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th>Amount</th>
	      <th>Notes</th>
	      
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>

		<% @expense.expense_entries.this_month.each do |expense_entry| %>
		  <tr>
		  	<td><%= expense_entry.date.to_formatted_s(:short) %></td>
		    <td><%= number_to_currency expense_entry.amount %></td>
		    <td><%= expense_entry.notes %></td>
		    <td><%= link_to 'Edit', edit_expense_entry_path(expense_entry) %></td>
		    <td><%= link_to 'Delete', expense_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>

		</table>
	</div>