<!DOCTYPE html>
<html>
<head>
  <title>HomeBudget</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="apple-touch-icon" href="/assets/hs.png"/>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Short+Stack' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Walter+Turncoat|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<%= render "layouts/nav" %>
	<div class="container">
		<%= yield %>
	</div>
	<%= render "layouts/footer" %>
</body>
</html>
